@using WebMatrix.Data

@{
    ViewBag.Title = "Detail";
    var db = Database.Open("BoardGame");
    var ChoosenGame = Request.QueryString["id"];
    var gameDetailsQuery = @"
        Select * 
        from BoardGame as BG
        left join (
            select GC.BGGId, string_agg(GC.Category, ', ') as CategoriesCode, string_agg(C.Category, ', ') as Categories 
            from GameCategory as GC
            join Category as C
            on GC.Category = C.CategoryID
            group by BGGId
        ) as GC on BG.BGGId = GC.BGGId
        left join (
            select FamilyCode, max(Family) as FamilyName 
            from GameFamily
            group by FamilyCode
        ) as GF on BG.Family = GF.FamilyCode
        where BG.BGGId = @0";
    var gameDetailsData = db.QuerySingle(gameDetailsQuery, ChoosenGame);
    var userReviewCount = "select BGGId, avg(Rating) as avgRating, count(Username) as numUser from UserRating where BGGId = @0 group by BGGId";
    var reviewCountData = db.QuerySingle(userReviewCount, ChoosenGame);
    var userReview = "select * from UserRating where BGGId = @0";
    var reviewData = db.Query(userReview, ChoosenGame);

}

<main>
    <div class="container d-flex justify-content-around bg-info p-3" style="border-radius:10px">
        <img src="@gameDetailsData.ImagePath.ToString()" alt="@gameDetailsData.Name cover image" style="max-height:200px"/>
        <div class="ms-3">
            <p><b>Board game name:</b> @gameDetailsData.Name</p>
            <p><b>Family:</b> @(gameDetailsData.FamilyName == null? "First game in series": gameDetailsData.FamilyName)</p>
            <p><b>Category:</b> @(gameDetailsData.Categories == null? "I'm not too sure?": gameDetailsData.Categories)</p>
            <p><b>Number of players:</b> @gameDetailsData.MinPlayers ~ @gameDetailsData.MaxPlayers</p>
            <p><b>Game weight:</b> @Math.Round(gameDetailsData.GameWeight, 2) gram</p>
            <p>
                <b>Best number of players: </b>@{ if (gameDetailsData.BestPlayers == 0)
                    { <span> The more the merrier</span> }
                    else
                    {<span>@gameDetailsData.BestPlayers players</span>}
                }
            </p>
            @if (reviewCountData != null)
            {
                <p><b>Number of rating: </b>@reviewCountData.numUser</p>
                <p><b>Average rating: </b>@Math.Round(reviewCountData.avgRating,2) / 10</p>
            }
            else
            {
                <p><b>Number of rating: </b>This game does not have any review</p>
            }
        </div>
        <div class="ms-3 text-center">
            <h2>#@gameDetailsData.RankInboardgame</h2>
            <p class="text-opacity-50">Rank in board game</p>
            <h2>#@gameDetailsData.RankInstrategygames</h2>
            <p class="text-opacity-50">Rank in stragegy game</p>
            <h2>#@gameDetailsData.RankInfamilygames</h2>
            <p class="text-opacity-50">Rank in family game</p>
            <h2>#@gameDetailsData.RankInthematic</h2>
            <p class="text-opacity-50">Rank in thematic</p>
        </div>
    </div>
    <hr />
    <div class="bg-body">
        <h6>Give us your experience of this game</h6>
        <form method="post" action="/Home/Details?id=@gameDetailsData.BGGId" class="container p-3 col-12 d-flex flex-column">
            <div class="container d-flex mb-2">
                <input type="radio" name="star" value="1" class="align-baseline" />
                <span class="me-4">*: This game suckkkkkkkkk!</span>
                <input type="radio" name="star" value="2" class="align-baseline" />
                <span class="me-4">**: This game is imbalance</span>
                <input type="radio" name="star" value="3" class="align-baseline" />
                <span class="me-4">***: Kinda mid</span>
                <input type="radio" name="star" value="4" class="align-baseline" />
                <span class="me-4">****: I like this game</span>
                <input type="radio" name="star" value="5" class="align-baseline" />
                <span>*****: This game is GOAT</span>
            </div>
        </form>
    </div>
    <hr />
    <div>
        <h6>Other player comments: </h6>
        @if(reviewData.Count() == 0)
            {
                <h5 class="text-center text-warning"> OOPs this game does not have any reivew</h5>
            }
        else
            {
                foreach (var row in reviewData)
                {
                    <div class="container col-12" style="height:100px">
                        <div class="d-flex justify-content-between">
                            <p class="text-primary">@row.Username</p>
                            <span class="text-secondary">@row.ReviewDate </span>
                        </div>
                        <h3 class="text-bg-warning">@for (var i = 0; i < row.Rating; i++) { <span>*</span> }</h3>
                    </div>
                }
            }
        <a class="my-2 btn btn-primary" href="/Home/Edit?id=@ChoosenGame">Edit this game</a>
    </div>
    
</main>

